{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="text-center mt-3 mb-4">Dashboard</h1>

<style>
    .dashboard-square {
        background-color: #5DADE2; 
        padding: 20px;
        border-radius: 10px;
        height: 250px;  /* Adjust as needed */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .dashboard-square .square-icon {
        font-size: 3em;
        margin-bottom: 15px;
    }

    .dashboard-square .square-title {
        margin-bottom: 10px;
    }
</style>

<!-- Four Big Lavender Boxes -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'appointments' %}" class="text-decoration-none">
                <div class="dashboard-square bg-lavender text-white">
                    <i class="fas fa-calendar-alt square-icon"></i>
                    <h4 class="square-title">Appointments</h4>
                    <p>Manage your appointments here.</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'medication' %}" class="text-decoration-none">
                <div class="dashboard-square bg-lavender text-white">
                    <i class="fas fa-pills square-icon"></i>
                    <h4 class="square-title">Medication</h4>
                    <p>View and manage your medications.</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
                <a href="{% url 'Health Tracker' %}" class="text-decoration-none">
                <div class="dashboard-square bg-lavender text-white">
                    <i class="fas fa-heartbeat square-icon"></i>
                    <h4 class="square-title">Health Tracker</h4>
                    <p>View and manage your health.</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'reports' %}" class="text-decoration-none">
                <div class="dashboard-square bg-lavender text-white">
                    <i class="fas fa-chart-bar square-icon"></i>
                    <h4 class="square-title">Reports</h4>
                    <p>Generate reports and insights.</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
